[submodule "aussiebb/aussiebb"]
	path = aussiebb/aussiebb
	url = https://github.com/mikalstill/aussiebb
[submodule "jsonwebtoken/jsonwebtoken"]
	path = jsonwebtoken/jsonwebtoken
	url = https://github.com/jsonwebtoken/jsonwebtoken.github.io
[submodule "jwtplayground/jwtplayground"]
	path = jwtplayground/jwtplayground
	url = https://github.com/maliksahil/JWTPlayground
[submodule "mac_apt/mac_apt"]
	path = mac_apt/mac_apt
	url = https://github.com/ydkhatri/mac_apt
[submodule "mha/mha"]
	path = mha/mha
	url = https://github.com/stephenegriffin/MHA
[submodule "storeweb/storeweb"]
	path = storeweb/storeweb
	url = https://github.com/StoreDev/StoreWeb
[submodule "tsuro"]
	path = tsuro/tsuro
	url = https://github.com/pl4nty/tsuro
[submodule "wufb-ds/wufb-ds"]
	path = wufb-ds/wufb-ds
	url = https://github.com/microsoftgraph/windowsupdates-webapplication-sample
