[submodule "jsonwebtoken/jsonwebtoken"]
	path = jsonwebtoken/jsonwebtoken
	url = https://github.com/jsonwebtoken/jsonwebtoken.github.io
[submodule "jwtplayground/jwtplayground"]
	path = jwtplayground/jwtplayground
	url = https://github.com/maliksahil/JWTPlayground
[submodule "mha/mha"]
	path = mha/mha
	url = https://github.com/stephenegriffin/MHA
[submodule "storeweb/storeweb"]
	path = storeweb/storeweb
	url = https://github.com/StoreDev/StoreWeb
[submodule "tsuro"]
	path = tsuro/tsuro
	url = https://github.com/pl4nty/tsuro
[submodule "wufb-ds/wufb-ds"]
	path = wufb-ds/wufb-ds
	url = https://github.com/microsoftgraph/windowsupdates-webapplication-sample
[submodule "openssl-webterm/openssl-webterm"]
	path = openssl-webterm/openssl-webterm
	url = https://github.com/cryptool-org/openssl-webterm
[submodule "excel2latex/excel2latex"]
	path = excel2latex/excel2latex
	url = https://github.com/pl4nty/excel2latex
[submodule "ataxx/ataxx"]
	path = ataxx/ataxx
	url = https://github.com/pl4nty/ataxx
[submodule "shapes/shapes"]
	path = shapes/shapes
	url = https://github.com/pl4nty/shapes
[submodule "temple-trap/temple-trap"]
	path = temple-trap/temple-trap
	url = https://github.com/pl4nty/temple-trap
[submodule "anudegreeapp/anudegreeapp"]
	path = anudegreeapp/anudegreeapp
	url = https://github.com/pl4nty/anudegreeapp
[submodule "otel-operator-autoinstrumentation-apache-httpd/opentelemetry-cpp-contrib"]
	path = otel-operator-autoinstrumentation-apache-httpd/opentelemetry-cpp-contrib
	url = https://github.com/open-telemetry/opentelemetry-cpp-contrib
	branch = main
[submodule "tls-rpt-monitor/tls-rpt-monitor"]
	path = tls-rpt-monitor/tls-rpt-monitor
	url = https://github.com/Neztore/tls-rpt-monitor
[submodule "flares/flares"]
	path = flares/flares
	url = https://github.com/lfaoro/flares
[submodule "external-mdns/external-mdns"]
	path = external-mdns/external-mdns
	url = https://github.com/iamasmith/external-mdns
	branch = multi-hostnames-by-annotation
[submodule "garnet/garnet"]
	path = garnet/garnet
	url = https://github.com/microsoft/garnet
[submodule "admxgen/admxgen"]
	path = admxgen/admxgen
	url = https://github.com/pl4nty/admxgen
[submodule "reg2ps/reg2ps"]
	path = reg2ps/reg2ps
	url = https://github.com/pl4nty/Reg2CI
[submodule "uiplusplus/uiplusplus"]
	path = uiplusplus/uiplusplus
	url = https://github.com/jason4tw/UIPlusPlusDocs
